.cardMenu {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    .interactions {
        display: flex;
        padding-left: 1em;

        .icon {
            margin-right: 1em;
            width: 25px;
            height: 25px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.bookmark{
    margin-right: 1em;

    &:hover {
        cursor: pointer;
    }
}